body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mScr {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.scr-transition {
    transition: opacity 0.8s ease;
    opacity: 0;
}



/* Screen -2  */
/* -----------------=------------ */
.scr1 {
    height: 100vh;
}


/* Screen -2  */
/* -----------------=------------ */
.scr2 {
    height: 100vh;
}


/*-- Screen 3 --*/
/* ---------------------------------------- */
.scr3-bg-img {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.scr3-img1 {
    transition: transform 2s;
    position: absolute;
    /* transform: scale(1.2); */

}

/* .img-container {
    width: 300px;
    overflow: hidden; 
}

.img1 {
    width: 100%; 
    transform: scale(1.2);
} */

@keyframes zoomIn1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.scr3-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 25px;
    width: 25px;
    transition: transform 2s;
}

@keyframes zoomIn2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}


@keyframes zoomOut2 {
    0% {
        transform: scale(25);
    }

    100% {
        transform: scale(0);
    }
}


.overlay-Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 78px;
    background: #B074A9;
    width: 336px;
    height: 80px;
    flex-shrink: 0;
}

.loading-spans {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.loading-ball {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 87px;
    background-color: #7F007F;
    transition: width 2s ease-in-out;
}

.loading-text {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    left: 30%;
    z-index: 1;
}

@keyframes zoomInLoading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomOutLoading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/* scr4 Screen */
/* ------ ------------------------------- */
.scr4-bg-img {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scr4-img-container {
    position: relative;
}

.scr4-img1 {
    transform: rotate(-45deg);
    height: 100vh;
}


@keyframes scr4-rotate1 {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.scr4-img2 {
    width: 30vw;
    height: 30vh;
}

.scr4-data {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40vh;
    width: 40vw;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: transform 2s;
}


@keyframes scr4-zoomIn1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* 
@keyframes scr4-zoomOut2 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
} */

.scr4-data1-dis {
    opacity: 1;
    /* animation: scr4-zoomIn1 2s 2s both; */
}

.scr4-data2-dis {
    opacity: 0;
    /* animation: scr4-zoomOut2 2s 1s both; */
}

.scr4-h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
}

.scr4-h2 {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
}

.scr4-nums {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
}

.scr4-nums>span {
    margin-inline: 20px;
}

.scr4-skip-btn {
    background-color: #7F007F;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    width: 300px;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scr4-skip-btn:hover {
    background-color: #FFF;
    color: #7F007F;
}




/* Screen - 5 scr5*/
/* ----------------------------- */
/* scr5-data1 */
/* ----------------- */
.scr5-bg-img {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scr5-img1 {
    height: 100vh;
}

.scr5-data1 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40vh;
    width: 40vw;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: transform 2s;
}

@keyframes scr5-moveOutData {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.scr5-h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
}

.scr5-image-cont {
    position: relative;
}

.scr5-level {
    width: 100%;
}

.scr5-circle1 {
    position: absolute;
    top: -30%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    flex-shrink: 0;
    background-color: #7D007B;
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scr5-circle2 {
    position: absolute;
    top: -30%;
    left: 20%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #7D007B;
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scr5-btn {
    color: white;
    background-color: #7F007F;
    width: 260px;
    height: 87px;
    border-radius: 87px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin-top: 70px;
}

.scr5-btn:hover {
    background-color: white;
    color: #7F007F;
    cursor: pointer;
}




/* Screen - 6 scr6 */
/* ------------------------------ */
.scr6-bg-img {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scr6-img1 {
    transition: transform 2s;
    position: relative;
    height: 100vh;
}

.scr6-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 25px;
    width: 25px;
    transition: transform 2s;
    opacity: 1;
}

@keyframes scr6-zoomIn2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}

.scr6-img3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 25px;
    width: 25px;
    transition: transform 2s;
    opacity: 0;
}

@keyframes scr6-zoomIn3 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}

.scr6-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 78px;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scr6-zoomInCount {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scr6-zoomOutCount {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.scr6-data-imgs {
    height: 300px;
    width: 400px;
}

.stats {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: 20px;
    margin: 0;

    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;

}

.scr6-count-1 {
    opacity: 0;
}

.scr6-count-2 {
    opacity: 0;
}

.scr6-count-3 {
    opacity: 0;
}

.scr6-count-what,
.scr6-count-is,
.scr6-count-your,
.scr6-count-name {
    opacity: 0;
}


/* Screen - 7 scr7 */
/* ------------------------------- */
.scr7-bg-img {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scr7-img1 {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    height: 100vh;
    object-fit: cover;

}

.scr7-data {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 78px;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scr7-zoomInData {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scr7-ques {
    display: flex;
    align-items: center;
    padding: 10px;

    position: absolute;
    top: -20%;
    left: -20%;
}

.scr7-quesText {
    position: relative;
    background-color: #FFF;
    color: #7D017C;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    width: 600px;
    height: 120px;
}


.scr7-quesText::before {
    position: absolute;
    top: 0px;
    left: -120px;
    content: "";
    width: 0;
    border-color: transparent #ffffff transparent transparent;
    border-width: 60px 60px 60px 60px;
    border-style: solid;
    margin-inline: 0;
}

.scr7-quesText::after {
    position: absolute;
    top: 0px;
    right: -120px;
    content: "";
    width: 0;
    border-color: transparent transparent transparent #ffffff;
    border-width: 60px 60px 60px 60px;
    border-style: solid;
    margin: auto;
}

.scr7-parent-line {
    width: 4px;
    height: 4px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 48%;
}

.scr7-con-div {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    bottom: -163%;
    left: 45.5%;
    opacity: 0;
}

/* .scr7-child-line-cont{
    position: absolute;
    bottom: -140%;
    left: 50%;
    z-index: 100;
}

.scr7-child-line-inner-cont{
    position: relative;
} */

.scr7-child1-line {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: -155%;
    left: 48%;
    opacity: 0;
    transition: width .5s ease-in-out;
}

.scr7-child2-line {
    width: 4px;
    height: 4px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    bottom: -155%;
    left: 48%;
    opacity: 0;
}

.scr7-options {
    transition: transform 1s;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -35%;
    left: -48%;
    right: -62%;
    padding-inline: 20px;
    opacity: 0;
}

.scr7-option1 {
    width: 150px;
    height: 150px;
    color: #790078;
    background-image: url("../assets/option_bg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
}


.scr7-option2 {
    width: 150px;
    height: 150px;
    color: #790078;
    background-image: url("../assets/option_bg2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 34px;
    font-weight: 700;
}





/* Screen - 8 scr8 */
/* ------------------------------- */
.scr8-bg-img {
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scr8-img1 {
    transition: transform 2s;
    position: relative;
    height: 100vh;
}

.scr8-img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 25px;
    width: 25px;
    transition: transform 2s;
    opacity: 1;
}

@keyframes scr8-zoomIn2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}

.scr8-img3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 25px;
    width: 25px;
    transition: transform 2s;
    opacity: 0;
}

@keyframes scr8-zoomIn3 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}


.scr8-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 78px;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scr8-zoomInData {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scr8-zoomOutData {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.scr8-h1 {
    color: #790078;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.scr8-h2 {
    color: #790078;
    text-align: center;
    font-size: 176px;
    font-weight: 700;
    display: none;
}